.page-dark
  footer.footer
    .container
      .footer__inner
        .footer__left
          .footer__title ООО “МК-Правовые технологии”
          .footer__info
            .footer__info-item
              h4.footer__info-title УНП
              span.footer__info-txt 192710862
            .footer__info-item
              h4.footer__info-title Наш рейтинг
              a.footer__info-link(href="#") 5 из 5 (15 отзывов)
          .footer__social
            a.footer__social-link(href="#"): +icon("footer__social-icon", "vk")
            a.footer__social-link(href="#"): +icon("footer__social-icon", "ok")
            a.footer__social-link(href="#"): +icon("footer__social-icon", "inkedin")
            a.footer__social-link(href="#"): +icon("footer__social-icon", "insta")
            a.footer__social-link(href="#"): +icon("footer__social-icon", "youtube")
            a.footer__social-link(href="#"): +icon("footer__social-icon", "facebook")
          .footer__map-conf
            .footer__map-conf-item
              a.footer__map-link(href="#") Карта сайта
              +icon("footer__arrow-icon", "arrow")
            .footer__map-conf-item
              a.footer__conf-link(href="#") Политика конфиденциальности
              +icon("footer__arrow-icon", "arrow")

        .footer__inner-main
          address.footer__main-item
            .footer__main-title Наши офисы
            .footer__main-wrapper
              .footer__item-wrapper
                .footer__item-block
                  .footer__item-inner
                    .footer__item-title Контакты в Минске
                    a.footer__item(href="tel:+375447550101") +375 (44) 755-01-01
                    a.footer__item(href="tel:+375295500101") +375 (29) 550-01-01
                    a.footer__item(href="tel:+375173744060") +375 (17) 374-40-60
                  .footer__item-inner
                    .footer__subtitle Адрес
                    a(href="#" target="_blank").footer__item г. Минск, ул. Широкая, д. 3, пом. 146, оф. 4
                  .footer__item-inner
                    .footer__subtitle Телефон для связи резидентов Российской Федерации
                    a.footer__item(href="tel:+79891662400") whatsapp +7 (989) 166 24 00
                  .footer__item-inner
                    a.footer__item.footer__subtitle(href="mailto:info@jurisprudent.by") info@jurisprudent.by

                .footer__item-block
                  .footer__item-inner
                    .footer__subitem
                      .footer__item-title Отдел в Могилеве
                      .footer__subtitle Адрес
                      a(href="#" target="_blank").footer__item г. Могилев, ул. Космонавтов, д. 19, оф. 507
                      a.footer__item.footer__subtitle(href="mailto:mogilev@jurisprudent.by") mogilev@jurisprudent.by
                  .footer__item-inner
                    .footer__subitem
                      .footer__item-title Отдел в Бресте
                      .footer__subtitle Адрес
                      a(href="#" target="_blank").footer__item г. Брест, б-р Шевченко, д. 4, оф. 401
                      a.footer__item.footer__subtitle(href="mailto:brest@jurisprudent.by") vitebsk@jurisprudent.by
                  .footer__item-inner
                    .footer__subitem
                      .footer__item-title Отдел в Витебске
                      .footer__subtitle Адрес
                      a(href="#" target="_blank").footer__item г. Витебск, ул.Гоголя, д. 14, оф. 614
                      a.footer__item.footer__subtitle(href="mailto:vitebsk@jurisprudent.by") vitebsk@jurisprudent.by
                .footer__item-block
                  .footer__item-inner
                    .footer__subitem
                      .footer__item-title Отдел в Гродно
                      .footer__subtitle Адрес
                      a(href="#" target="_blank").footer__item г. Гродно, ул. Карла Маркса, д. 31-1, оф. 1010
                      a.footer__item.footer__subtitle(href="mailto:mogilev@jurisprudent.by") grodno@jurisprudent.by
                  .footer__item-inner
                    .footer__subitem
                      .footer__item-title Отдел в Гомеле
                      .footer__subtitle Адрес
                      a(href="#" target="_blank").footer__item г. Гомель, пр. Ленина, д. 10, оф. 901
                      a.footer__item.footer__subtitle(href="mailto:mogilev@jurisprudent.by") gomel@jurisprudent.by

          .footer__main-item
            .footer__main-title Время работы
            .footer__main-wrapper
              .footer__item-wrapper
                .footer__item-block
                  .footer__item-inner
                    .footer__subitem
                      .footer__subtitle Прием посетителей
                      p.footer__item Ежедневно с 8.00 до 19.00 Выходной: суббота - воскресенье.

                  .footer__item-inner
                    .footer__subitem
                      .footer__subtitle Прием звонков
                      p.footer__item Ежедневно с 8.00 до 22.00
                        span Без выходных

                  .footer__item-inner
                    .footer__subitem
                      .footer__subtitle Онлайн консультант
                      p.footer__item Круглосуточно 24/7
                        span Без выходных

    .footer__devby
      p Разработка и продвижение сайта - Digital агентство «Веб Фокус»



