doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Правовые технологии
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;700&family=Lato:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
      link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
      link(rel="stylesheet" href="css/style.min.css")
  body
    include ../includes/index/mixins
    block header
      include header
    block content
    block footer
      include footer
    block scripts
      script(src="https://unpkg.com/swiper/swiper-bundle.js")
      script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
      script(src='js/main.min.js')

