extends common/layout

block content
  main
    section.intro
      .swiper-container
        .swiper-wrapper
          +slider__intro-item("slide-1.png", "Взыскание дебиторской задолженности", "Индивидуальный подход и нацеленность на достижение результата")
          +slider__intro-item("slide-2.png", "Регистрация ООО", "Гарантируем минимальные сроки регистрации под ключ ")
          +slider__intro-item("slide-3.png", "Ликвидация предприятия", "Эффективное решение сложных задач")
          +slider__intro-item("slide-4.png", "Юридическая консультация", "Детальные разъяснения вопросов по ведению бизнеса от профессионалов")
          +slider__intro-item("slide-5.png", "Юридический аутсорсинг", "Гарантия своевременности и качества услуг")

    .page-dark
      +features('features--about')

      section.about
        .container
          .about__inner
            .about__content
              h2.about__title Юридическое сопровождение бизнеса от «МК-Правовые технологии»
              .about__txt
                p Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе.
                p Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.
                p Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов.
                p Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.
            img.about__img(src="img/about/about-1.png", alt="")
