extends common/layout

block content
  main
    section.intro
      .swiper-container.swiper-container--intro
        .swiper-wrapper
          +slide__intro-item("slide-1.png", "Взыскание дебиторской задолженности", "Индивидуальный подход и нацеленность на достижение результата")
          +slide__intro-item("slide-2.png", "Регистрация ООО", "Гарантируем минимальные сроки регистрации под ключ ")
          +slide__intro-item("slide-3.png", "Ликвидация предприятия", "Эффективное решение сложных задач")
          +slide__intro-item("slide-4.png", "Юридическая консультация", "Детальные разъяснения вопросов по ведению бизнеса от профессионалов")
          +slide__intro-item("slide-5.png", "Юридический аутсорсинг", "Гарантия своевременности и качества услуг")

    .page-dark
      +features('features--about')
      section.about
        .container
          .about__inner
            .about__content
              h2.about__title Юридическое сопровождение бизнеса от «МК-Правовые технологии»
              .about__txt
                p Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе.
                p Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.
                p Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов.
                p Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.
            img.about__img(src="img/about/about-1.png", alt="")

      section.activities
        .container
          h2.activities__title Основные направления деятельности
          .activities__inner
            +activities-item("Взыскание долгов", "activ-1", "#")
            +activities-item("Реорганизация бизнеса", "activ-2", "#")
            +activities-item("Продажа бизнеса", "activ-3", "#")
            +activities-item("Юридические консультации", "activ-4", "#")
            +activities-item("Ликвидация организаций", "activ-5", "#")
            +activities-item("Разработка договоров", "activ-6", "#")
            +activities-item("Регистрация бизнеса", "activ-7", "#")
            +activities-item("Юридический аутсорсинг", "activ-8", "#")
            +activities-item("Аттестация в строительстве", "activ-9", "#")
          +link("#", "Все услуги", "link-btn activities__link")
          .activities__wrapper
            h2.activities__title Основные направления деятельности
            .activities__txt
              p Основной принцип нашей работы – максимальная открытость и доверительные отношения с каждым клиентом, с тем чтобы от начала и до конца совместной работы, не возникало никакого недопонимания. Мы ставим целью не только привлечение новых клиентов, но и поддержание длительных партнерских отношений с клиентами, которые уже воспользовались нашими услугами.
              p Быстрота анализа и профессиональных действий наших юристов обеспечивают успешное решение, казалось бы, неразрешимых вопросов. Богатые знания и солидный опыт позволяют нам оказывать комплексную правовую помощь в ситуациях любой сложности.
          .activities__slider
            .activities__slider-content
              button.slider-btn-prev--activities: +icon("activities__icon", "slider-arrow")
              button.slider-btn-next--activities: +icon("activities__icon activities__icon--reverted", "slider-arrow")
              .swiper-container.swiper-container--activities
                .swiper-wrapper
                  +slide__activities-item("slide-1.png")
                  +slide__activities-item("slide-2.png")
                  +slide__activities-item("slide-3.png")
                  +slide__activities-item("slide-4.png")
                  +slide__activities-item("slide-5.png")

    .page-light
      section.reviews
        .container
          h2.reviews__title Отзывы наших партнеров
          .swiper-container.swiper-container--reviews
            .swiper-wrapper.swiper-wrapper--reviews
              +slide__reviews-item("slide-1.png", "директор", "С.В. Косачев", "Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...")
              +slide__reviews-item("slide-2.png", "глава представительства", "Валерий Мяснянкин", "Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...")
              +slide__reviews-item("slide-1.png", "директор", "С.В. Косачев", "Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...")
          .reviews__btns
            +link("#", "Все отзывы", "link-btn reviews__link")
            .swiper-pagination
            .reviews__controlers
              button.slider-btn-prev--reviews: +icon("reviews__icon", "slider-arrow")
              button.slider-btn-next--reviews: +icon("reviews__icon reviews__icon--reverted", "slider-arrow")

      .partners
        .container
          .partners__inner
            .partners__top
              p.partners__txt Оказываем юридические услуги юридическим лицам и индивидуальным предпринимателям. Специализируемся в области хозяйственного права, работаем на всей территории Республики Беларусь, а также за ее пределами, с бизнесом любого масштаба.
              +link("#", "Наши партнёры", "link-btn partners__link")
            .partners__bot
              img.partners__img.partners__img--img1(src="img/partners/partner-1.png", alt="Бау Аренда")
              img.partners__img.partners__img--img2(src="img/partners/partner-2.png", alt="Титан Инжиниринг")
              img.partners__img.partners__img--img3(src="img/partners/partner-3.png", alt="Фаворит")
              img.partners__img.partners__img--img4(src="img/partners/partner-4.png", alt="Альфа-Банк")
              img.partners__img.partners__img--img5(src="img/partners/partner-5.png", alt="IBA Institute")

    .page-dark
      .special
        .container
          .special__inner
            +special-item("Просто объясним сложные вещи", "В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.")
            +special-item("Надежно защитим права и интересы", "Заказав комплексные юридические услуги в ООО «МК-Правовые технологии», можно больше не платить зарплату штатному юристу, страховые отчисления и налоги с его доходов. Можно не оплачивать отпуск, больничные и не беспокоиться о нахождении работника на рабочем месте в нужный момент.")
            +special-item("Вы платите только за результат!", "В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.")

      .stub: img(src="img/stub.png", alt="")

      section.services
        .container
          h3.services__title Перечень оказываемых услуг
          .services__inner
            +services-item("Регистрации ИП и юрлиц", "#")
            +services-item("Ликвидация, реорганизация и продажа бизнеса", "#")
            +services-item("Взыскание дебиторской задолженности", "#")
            +services-item("Письменные и устные консультации", "#")
            +services-item("Разработка уставных документов и внесение изменений в них", "#")
            +services-item("Ведение переговоров", "#")
            +services-item("Комплексное сопровождение бизнеса", "#")
            +services-item("Сопровождение деловых сделок", "#")
            +services-item("Лицензирование бизнеса", "#")
            +services-item("Решение правовых споров", "#")
          .services__desc
            p.services__txt Оказание юридических услуг юридическим лицам и индивидуальным предпринимателям – наша работа. Среди собственников бизнеса принято считать, что прочитать закон в Интернете и применить его на практике - это одно и тоже. Основываясь на этом убеждении, они часто отказываются от профессиональной помощи. Практика же показывает, что только опытный юрист может правильно разобраться в правовых тонкостях, своевременно предотвратить ложные шаги и ускорить получение результата.
            +link("#", "Все услуги", "link-btn services__link")

