// Breakpoints
$media-xl: 1199px;
$media-lg: 991px;
$media-md: 767px;
$media-sm: 575px;
$media-xs: 480px;
// Colors
$color-primary-light: #fff;
$color-primary-dark: #000;
$color-secondary-light: #dec377;
$color-tertiary: #e5e5e5;
// Fonts
$font-primary: 'Commissioner', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-tertiary: 'Source Sans Pro', sans-serif;
