.about {
  padding: 28.5rem 0 5rem;
}

.about__inner {
  display: flex;
  justify-content: space-between;

  background-color: $color-primary-light;
  box-shadow: 0 4px 10px rgba($color-primary-dark, .05);
}

.about__content {
  padding: 5rem 0rem 6rem 7rem;

  .about__title {
    @include section-title;

    margin-bottom: 3rem;
  }

  .about__txt {
    @include text;

    max-width: 53.9rem;

    p {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}

.about__img {
  max-width: 50rem;

  object-fit: cover;
}
