.intro {
  .swiper-slide {
    min-height: 65rem;
    max-height: 65rem;
  }
}

.intro__inner {
  padding: 16rem 0 25rem;
}

.intro__content {
  max-width: 53.5rem;
  margin-bottom: 11rem;

  .intro__title {
    @include section-title;

    font-size: 4rem;
    line-height: 1.25;

    margin-bottom: 2rem;

    letter-spacing: .01em;
  }

  .intro__subtitle {
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: 300;

    margin-bottom: 5rem;

    opacity: .8;
  }
}

.intro__controllers {
  padding-left: 2.5rem;

  .slider-btn-prev--intro {
    margin-right: 5rem;
  }

  .intro__icon {
    @include slider-btn(11px, 18px, .8);
  }
}
