.partners {
  padding: 5rem 0 10rem;
}

.partners__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 4rem;

  .partners__txt {
    @include text;

    width: 100%;
    max-width: 67rem;
  }

  .partners__link {
    margin-right: 20rem;
    padding: 1.1rem 3.22rem;

    transition: background-color .1s linear, color .1s linear;

    color: $color-secondary-light;
    border: 2px solid $color-secondary-light;
    background-color: none;

    &:hover {
      color: $color-primary-light;
      background-color: $color-secondary-light;
    }
  }
}

.partners__bot {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 3rem;

  .partners__img {
    filter: grayscale(100%);

    &--img1 {
      max-width: 19.6rem;
      max-height: 6.5rem;
    }

    &--img2 {
      max-width: 7.7rem;
      max-height: 8rem;
    }

    &--img3 {
      max-width: 28.7rem;
      max-height: 6.5rem;
    }

    &--img4 {
      max-width: 17.7rem;
      max-height: 7rem;
    }

    &--img5 {
      max-width: 15.1rem;
      max-height: 6.5rem;
    }
  }
}
