.reviews {
  padding: 21rem 0 5rem;
}

.reviews__title {
  @include section-title;
}

.reviews__item {
  overflow: hidden;

  max-width: 57rem;

  background-color: $color-primary-light;
  box-shadow: 0 4px 20px rgba($color-primary-dark, .08);
}

.reviews__img {
  min-height: 10rem;
  max-height: 10rem;

  object-fit: cover;
}

.reviews__content {
  padding: 6rem 5rem 6.5rem 5rem;

  .reviews__post {
    font-family: $font-secondary;
    font-size: 1.5rem;

    margin-bottom: .5rem;

    color: rgba($color-primary-dark, .5);
  }

  .reviews__name {
    font-size: 2.6rem;
    font-weight: 700;

    margin-bottom: 2.35rem;

    letter-spacing: .01em;

    color: $color-secondary-light;
  }

  .reviews__txt {
    @include text;

    font-size: 1.4rem;

    margin-bottom: 2.5rem;
  }
}

.reviews__icon {
  @include slider-btn(11px, 18px, .5);
}

.swiper-container--reviews {
  box-shadow: 0 4px 20px rgba($color-primary-dark, .08);
}

.reviews__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 3rem;

  .swiper-pagination {
    position: static;

    margin-right: 11rem;

    .swiper-pagination-bullet {
      margin: 0 .5rem;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-secondary-light;
    }
  }

  .reviews__controlers {
    margin-right: 2.5rem;
  }

  .slider-btn-next--reviews {
    margin-left: 2.5rem;
  }
}
