.services {
  padding: 4rem 0 4rem;
}

.services__title {
  @include section-title;
}

.services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.services__item {
  display: flex;
  justify-content: space-between;

  min-height: 14rem;
  margin-bottom: 3rem;

  background-color: $color-primary-light;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .05);

  .services__block {
    width: 7rem;
    height: 100%;
  }

  &:nth-child(8n+1),
  &:nth-child(8n+2) {
    .services__block {
      background-color: rgba($color-secondary-light, .4);
    }
  }

  &:nth-child(4n+3),
  &:nth-child(4n+4) {
    .services__block {
      background-color: rgba($color-secondary-light, .75);
    }
  }

  &:nth-child(n+5):nth-child(-n+6) {
    .services__block {
      background-color: rgba($color-secondary-light, 1);
    }
  }

  &:nth-child(8n+1),
  &:nth-child(6) {
    width: 47rem;
  }

  &:nth-child(4n+3),
  &:nth-child(5n+3),
  &:nth-child(3n+4) {
    width: 57rem;
  }

  &:nth-child(8n+2),
  &:nth-child(5) {
    width: 67rem;
  }

  .services__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 1.5rem 3rem 1.5rem 3rem;
  }

  .services__item-title {
    @include section-title;

    font-size: 2rem;

    align-self: flex-start;
  }

  .services__link {
    align-self: flex-end;
  }
}

.services__desc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services__txt {
  @include text;

  max-width: 77rem;
}
